@model IEnumerable<GenReq.Models.UserRegistration>

@{
    ViewData["Title"] = "Content Generation Account Management";
}

<h1>Account Management</h1>

<p>
    <a asp-action="Create">Add a New Plan</a> If the table below is blank, please click this link so you can get started.
</p>
<h4>Registered Plans</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationStarted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationEnded)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationStarted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationEnded)
            </td>
        </tr>
}
    </tbody>
</table>
