@model GenReq.Models.GenRequest

@{
    ViewData["Title"] = "Content Generation Request";
}

<h1>Content Generation Request</h1>

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Status)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Status)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.CreatedDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.CreatedDate)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Title)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Title)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Actor)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Actor)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.GeneratedDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.GeneratedDate)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.GeneratedTitle)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.GeneratedTitle)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.GeneratedContent)
    </dt>
    <dd class="col-sm-10">
        @Html.Raw(@Model.GeneratedContent)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.GeneratedContent) (as raw code)
    </dt>
    <dd class="col-sm-10">
        <code>
            @Html.DisplayFor(model => model.GeneratedContent)
        </code>
    </dd>
</dl>
<div>
    <a asp-action="Index">Back to List</a>
</div>

