@model IEnumerable<GenReq.Models.GenRequest>

@{
    ViewData["Title"] = "Content Generation Requests";
}

<h1>Content Generation Requests</h1>

<p>
    <a asp-action="Create">Create New Request</a>
</p>
<div class="row">
@foreach (var item in Model) {
        <div class="col-sm-6">
                @Html.DisplayNameFor(model => model.CreatedDate):
                @Html.DisplayFor(modelItem => item.CreatedDate)<br/>
                @Html.DisplayNameFor(model => model.Title):
            @Html.DisplayFor(modelItem => item.Title)<br />
                @Html.DisplayNameFor(model => model.Actor):
            @Html.DisplayFor(modelItem => item.Actor)<br />
                @Html.DisplayNameFor(model => model.Status):
            @Html.DisplayFor(modelItem => item.Status)<br />
                @Html.DisplayNameFor(model => model.GeneratedDate):
            @Html.DisplayFor(modelItem => item.GeneratedDate)<br />
                    @if (item.Status == "Requested")
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        Write("|");
                    }
                
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </div>
}
</div>

<div>Graph API result</div>
<div>@ViewData["GraphApiResult"]</div>
